<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" name="viewport">
    <style>
         <%- data.css %>
    </style>
</head>

<body>
    <div id="app">
          <%- data.html %>
    </div>
    <script>
          <%- data.js %>
    </script>
</body>

</html>