<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" name="viewport">
    <style>
    <%=data._css %>
    </style>
</head>

<body>
    <h3>css</h3>
    <textarea name="" id="" cols="30" rows="10" class="mycss">
        <%- data.css %>
    </textarea>
     <h3>html</h3>
    <textarea name="" id="" cols="30" rows="10" class="myhtml">
          <%- data.html %>
     </textarea>
   <!--  <textarea name="" id="" cols="30" rows="10">
           <%- data._js %>
      </textarea> -->
      <h3>预览</h3>
      <div id="iframeBox"></div>
      <button  class="btn">保存</button>
    <!-- <iframe src="https://www.baidu.com" name="demoifrmname" class="demoifrmname" id="demoifrmname" ></iframe> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>

    let myChange = function(Selector, callback) {
        this.Dom = document.querySelector(Selector);
        this.Dom.addEventListener('keyup', callback.bind(this));
    };
    let cssDom = document.querySelector('.mycss');
    let htmlDom = document.querySelector('.myhtml');
    let load = false;
    let socket = io();
    let sid = 0
    socket.on('create',function(){
        if(load){
            return false;
        }
        load = true;
        sid = socket.id;
        let iframe = document.createElement("IFRAME");
        iframe.setAttribute("src",'/template?sid='+sid);
        iframe.setAttribute("id",'demoifrmname');
        document.querySelector("#iframeBox").appendChild(iframe);
    })
    //changeFinish
     socket.on('changeFinish',function(){
        document.querySelector('#demoifrmname').contentWindow.location.reload(true);
    })

    new myChange('.mycss', function() {
        //let body = JSON.stringify({ _css: this.Dom.value,sid:sid });

        socket.emit('change',{ css: this.Dom.value,sid:sid })


    })

    new myChange('.myhtml', function() {
        //let body = JSON.stringify({ _css: this.Dom.value,sid:sid });

        socket.emit('change',{ html: this.Dom.value,sid:sid })


    })
    document.querySelector(".btn").onclick  = function(){
        let body = JSON.stringify({ css:cssDom.value, html: htmlDom.value,sid:sid });
        fetch('/template/save', {
            method: 'POST',

            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
            },
            'body': body
        }).then(function(response) {
            alert("保存成功")
            // handle HTTP response
            // document.querySelector('#demoifrmname').contentWindow.location.reload(true);
        }, function(error) {
            // handle network error
        })
    }
    </script>
</body>

</html>