<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/antd.css">
<link href="/dist/css/commons.css" rel="stylesheet"><link href="/dist/css/markdown.css" rel="stylesheet"></head>
<script>
        var DocName = '<%- name %>'||'';
        var DocPage = '<%- page %>'||'';
        var DocMD = `<%- markdown %>`||'';
        var ComponentData = <%- JSON.stringify(ComponentData) %>||{Component:[]};
        if(!ComponentData.Component){
            ComponentData = {Component:[]};
        }
    </script>
<body>
    <div id="root"></div>
    <script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src='/js/react.production.min.js'></script>
    <script src='/js/react-dom.production.min.js'></script>
    <script src='/js/Moment.js'></script>
    <script src='/js/antd.js'></script>
    <script src='https://pandao.github.io/editor.md/examples/js/jquery.min.js'></script>
    <script src='https://pandao.github.io/editor.md/lib/marked.min.js'></script>
    <script src='https://pandao.github.io/editor.md/lib/prettify.min.js'></script>
    <script src="https://pandao.github.io/editor.md/editormd.js"></script>
<script type="text/javascript" src="/dist/js/commons.js?v=1543483766300"></script><script type="text/javascript" src="/dist/js/markdown.js?v=1543483766300"></script>

    <script>

   
    // document.querySelector(".btn").onclick  = function(){
    //     let body = JSON.stringify({ css:cssDom.value, html: htmlDom.value,sid:sid });
    //     fetch('/template/save', {
    //         method: 'POST',

    //         headers: {
    //             'Accept': 'application/json',
    //             'Content-Type': 'application/json',
    //         },
    //         'body': body
    //     }).then(function(response) {
    //         alert("保存成功")
    //         // handle HTTP response
    //         // document.querySelector('#demoifrmname').contentWindow.location.reload(true);
    //     }, function(error) {
    //         // handle network error
    //     })
    // }
    </script>


</body>

</html>

