<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/antd.css">
        <link href="/dist/css/commons.css" rel="stylesheet">
        <link href="/dist/css/setting.css" rel="stylesheet">
        <script>
            var navData = <%- navData  %>;
            var docData = <%- JSON.stringify(docData) %>;
        </script>
    </head>

    <body>
        <div id="root"></div>
        <div id='test-editormd-view' style="display:none"></div>
        <script src="https://cdn.bootcss.com/babel-polyfill/6.23.0/polyfill.min.js"></script>
        <script src='/js/react.production.min.js'></script>
        <script src='/js/react-dom.production.min.js'></script>
        <script src='/js/Moment.js'></script>
        <script src='/js/antd.js'></script>

        <script type="text/javascript" src="/dist/js/commons.js?v=1543218468349"></script>
        <script type="text/javascript" src="/dist/js/setting.js?v=1543218468349"></script>

</html>