.ListItem {
    cursor: pointer;
     border-left: 4px solid #4b9fd5;
    .ListItemTitle {
        width: 140px;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        background: #a7d7fd;
    }

    &:hover {
        .ListItemTitle {
            width: 300px;
            background: #cbe6fb;
        }
    }
}
.ListItemCur{
       border-left: 4px solid #fd8f00
}
.pageTodayData{
    .titleSpan,.todayItemName{
        color:#fff
    }
}
ul,
li,
p {
    margin: 0;
    padding: 0;
}

.Performance {
    li {
        background: #eee,
    }

    .lv1 {
        background: #c7f9ca
    }

    .lv2 {
        background: #fde8bb
    }

    .lv3 {
        background: #ffb2b2
    }
}