.ant-menu-inline{
	    border: 0px;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
	background: #fff;
}

.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after{
	    border-right: none;
}